.director, .cast, .runtime, .upcoming {
  margin-top: -20px;
}

.center-film-booking {
  margin-left: 300px;
}

#showtimesContainer {
background-color: rgb(29, 29, 29);
width: 250px;
border-radius: 7px;
}

.showtimes {
    margin-top: -14px;
}

