body {
  background-color: #040303;
}

a:link {
  text-decoration: none;
}

input[name="search"] {
  height: 40px;
  width: 25%;
  display: inline-block;
}

li.nav-item {
  height: 40px;
  width: 25%;
}