@keyframes moveContent {
    0% {
        transform: translateY(40rem);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#row4 {
    color: #ff9a5a;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    animation: moveContent 1s .3s forwards;
    opacity: 0;
}

#row4:hover {
    color: #cc5b15;
}

#row5 {
    animation: moveContent 1s .5s forwards;
    opacity: 0;
}

#row6 {
    animation: moveContent 1s .7s forwards;
    opacity: 0;
}